$mainFontColor: rgba(255, 255, 255, 0.87);

@mixin link() {
  color: $mainFontColor;
  text-decoration: none;
}

/* Dropdown-knappen */

.dropdown-container {
  position: relative;
  width: 100%;
  padding-left: 2rem;
  align-items: center;

  .dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 7vh;
    margin-top: 2rem;
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.948);
      border: 2px solid rgb(70, 0, 128);
    }

    .menu-icon {
      font-size: 45px;
      color: rgb(56, 20, 128);
      transition: 0.3s;

      &:hover {
        text-shadow: 0 0 5px #731ced, 0 0 10px hsla(247, 100%, 76%, 0.959),
          0 0 20px hsla(247, 100%, 76%, 0.959),
          0 0 40px hsla(247, 100%, 76%, 0.959),
          0 0 80px hsla(247, 100%, 76%, 0.959),
          0 0 120px hsla(247, 100%, 76%, 0.959);
      }
    }
  }
  .drop-container {
    position: absolute;
    top: -0.9rem;
    right: 0.5rem;

    background-color: rgb(27, 27, 27);

    width: 200px;
    height: 100vh;
    z-index: 4;

    .drop-list {
      font-size: x-large;
      list-style-type: none;

      margin: 8rem 2rem 0rem 2rem;

      text-align: center;

      .drop-link1,
      .drop-link2,
      .drop-link3 {
        @include link();
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

