#root {
  width: 100%;
  max-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to bottom, rgb(38, 38, 38), black);
}
#root .home-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 100vh;
}
#root .home-side .johlu-side {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
#root .home-side .johlu-side .profile-pic {
  position: absolute;
  top: 4rem;
  left: 1rem;
  width: 165px;
  border-radius: 50%;
  margin: 2rem;
  z-index: 1;
}
#root .home-side .johlu-side .home-container {
  padding-top: 12rem;
  width: 100%;
  height: 35vh;
  text-align: center;
  z-index: 2;
}
#root .home-side .johlu-side .home-container .welcome-message {
  font-weight: 800;
  font-size: xx-large;
}
#root .home-side .johlu-side .home-container p {
  font-size: large;
  padding: 1rem 2rem 0rem 2rem;
}
#root .home-side .johlu-side .purple {
  background-color: rgb(161, 87, 252);
  box-shadow: 0px 0px 10px 2px rgb(203, 163, 251);
  border: none;
  border-radius: 50%;
  width: 400px;
  height: 5px;
  margin: 8rem 0rem 1rem 0rem;
  transform: rotate(-45deg);
  z-index: 1;
}
#root .home-side .johlu-side .turquoise {
  background-color: rgb(83, 237, 222);
  box-shadow: 0px 0px 10px 2px rgb(131, 243, 231);
  border: none;
  border-radius: 50%;
  width: 500px;
  height: 5px;
  margin: 1rem 0rem 1rem 0;
  transform: rotate(-45deg);
  z-index: 1;
}
#root .home-side .johlu-side .indigo {
  background-color: rgb(89, 0, 255);
  box-shadow: 0px 0px 10px 2px rgb(115, 42, 250);
  border: none;
  border-radius: 50%;
  width: 350px;
  height: 5px;
  margin: 1rem 0rem 1rem 0;
  transform: rotate(-45deg);
  z-index: 1;
}
#root .home-side .johlu-side .copy {
  font-size: 15px;
  margin-top: 10rem;
}

.about-container {
  width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 5rem;
  padding: 4rem 2rem 1rem;
  overflow-y: auto;
  background-color: rgba(34, 34, 34, 0.192);
  z-index: 3;
}
.about-container h1 {
  font-size: x-large;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
}
.about-container h2 {
  text-decoration: underline;
  font-size: larger;
  padding-top: 1rem;
}
.about-container p {
  font-size: large;
  padding-top: 0.5rem;
}

.projects-contact-container {
  width: 100%;
  height: 350px;
  text-align: center;
  margin-top: 5rem;
  padding: 6rem 2rem 1rem;
  overflow-y: auto;
  background-color: rgba(34, 34, 34, 0);
  z-index: 3;
}
.projects-contact-container .project-h2 {
  font-size: xx-large;
  background: -webkit-linear-gradient(rgb(145, 238, 241), rgb(2, 105, 125));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem 0rem 0rem 0rem;
}
.projects-contact-container p {
  color: rgba(255, 255, 255, 0.87);
  font-size: large;
}
.projects-contact-container article {
  margin: 0.5rem;
}
.projects-contact-container article a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  font-weight: 500;
  font-size: larger;
}
.projects-contact-container article a:hover {
  text-decoration: underline;
}
.projects-contact-container article h3 {
  margin: 1rem;
  color: rgba(255, 255, 255, 0.87);
}
.projects-contact-container .contact-container {
  padding: 2rem 1rem 2rem 1rem;
  margin-top: 2rem;
  background: linear-gradient(to bottom, hsla(173, 57%, 68%, 0.814), rgba(3, 211, 187, 0.814));
  border-radius: 5px;
}
.projects-contact-container .contact-container .contact-container h2 {
  font-size: x-large;
}
.projects-contact-container .contact-container .contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}
.projects-contact-container .contact-container .contact-links a {
  width: 100%;
  font-size: 50px;
  color: rgb(31, 31, 31);
  padding: 1rem;
}
.projects-contact-container .contact-container .mail-container {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.87);
}
.projects-contact-container .contact-container .mail-container h2 {
  font-size: medium;
}
.projects-contact-container .contact-container .mail-container button {
  width: 80px;
  margin: 0.5rem;
  font-size: x-large;
  text-align: center;
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
  border: none;
  color: rgba(3, 211, 187, 0.814);
  cursor: pointer;
}
.projects-contact-container .contact-container .mail-container button:hover {
  border: 2px solid rgba(163, 255, 243, 0.814);
}/*# sourceMappingURL=style.css.map */